:root {
  --bg: #090b0d;
  --color: #fafaf9;
  --form_container_bg: #17191f;
}

.light-mode {
  --bg: #f0f2f5;
  --color: #ae3;
  --form_container_bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$breakpoints-down: (
  "small": 1000px,
  "medium": 1200px,
);

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

body {
  background-image: url("./assets/images/bbburst.svg"),
    url("./assets/images/bbburst.svg");
  background-position: right -85px top -85px, bottom -200px left -200px;
  background-size: 300px, 400px;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat;

  background-color: var(--bg);
  color: var(--color);
}
