.tag__form__container {
  .tag__form {
    .input__label {
      font-size: 1rem;
    }

    .color_input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 100px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &::-webkit-color-swatch {
        border-radius: 15px;
        border: none;
      }
      &::-moz-color-swatch {
        border-radius: 15px;
        border: none;
      }
    }
  }
}
