.password__input {
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  input {
    border-radius: 0;
    width: 100%;
  }

  .btn__icon {
    background-color: var(--input_bg);
    color: #fff;
    width: 3.125rem;
    border: none;

    .icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
}
