aside {
  overflow: auto;
  // background-color: #ffa6d5;
  ul {
    .category {
      margin-bottom: 1rem;

      .btn {
        border-radius: 5rem;

        &__tags {
          background-color: #00a19d;
        }

        &__add__tag {
          background-color: transparent;
          border: 2px dashed #00a19d;
          color: var(--text_color);
        }

        &__tag {
          background-color: #ffa6d5;
        }
      }
    }

    .tag__form__container {
      background-color: var(--form_container_bg);
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;

      input {
        font-size: 1rem;
        padding: 0.5rem;
      }

      .btn {
        font-size: 1rem;
        padding: 0.5rem;
        background-color: #00a19d;
      }
    }
  }
}
