aside {
  ul {
    .category {
      margin-bottom: 1rem;

      .btn {
        border-radius: 5rem;

        &__tags {
          background-color: #00a19d;
        }

        &__add__tag {
          background-color: transparent;
          border: 2px dashed #00a19d;
          color: var(--text_color);
        }

        &__tag {
          background-color: #ffa6d5;
        }
      }
    }

    .tag__form__container {
      background-color: green;
      padding: 1rem;

      input {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
  }
}
